#search-page {
    @import '../headers/blue';
    @import '../headers/categories';

    .title {
        color: #ffffff;
        font-size: 28px;
        font-weight: 300;
        margin-top: 10px;
        margin-bottom: 10px;

        @media (max-width:767px){
            line-height:32px;
        }
    }
}