.h-100 {
    min-height: 100%;
}

.valign-middle {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.primary-text {
    color: $primary;
}

.error {
    color: $red;
    text-transform: none;
}

.primary-bg {
    background-color: $primary;
}

.scroller-x {
    width: 100%;
    overflow-x: auto;
    background-color: red;
}

.border-primary{
    border-color:$primary;
}

.text-blue{
    color:$primary;
}

.bg-blue{
    background-color:$primary;
}

.btn-white{
    background-color:white;
}

.btn-blue{
    background-color:$primary;
}