.h-100 {
    height: 100%;
}

.valign-middle {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.primary-text {
    color: $primary;
}

.primary-bg {
    background-color: $primary;
}

.scroller-x {
    width: 100%;
    overflow-x: auto;
    background-color: red;
}