#slideshow {
    background-image: url("/img/layout/slideshow-bg.png");
    background-repeat: repeat-x;
    height: 560px;
    padding-top: 36px;
    color: white;

    span.message {
        font-weight: 100;
        font-size: 28px;
    }
}

#reasurrance {
    background-color: #414042;
    height: 134px;
}