// Fonts
@import 'fonts';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'variables';
@import 'helpers';
@import 'navbar';
@import './pages/auth';
@import './pages/homepage';
@import './pages/product';
@import './pages/search';
@import './pages/activation';

@import '~owl.carousel/dist/assets/owl.carousel.css';
@import '~owl.carousel/dist/assets/owl.theme.default.css'; // Obligatoire pour avoir les points (dots). Pour information ils s'affichent à partir de 4 items

body {
  font-family: 'Gilroy';
}

header {

  // height: 85px;

  padding: 10px 0;
}

footer {
  padding: 20px;

  .copyright {
    font-weight: bold;
    font-size: 13px;
  }

  .email a {
    font-weight: 500;
    font-size: 11px;
  }

  &.grey {
    background-color: #ececec;
  }
}

h2 {
  line-height: 1rem;

  img {
    margin-right: 13px;
  }

  span {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 21px;
  }

  small {
    display: block;
    font-size: 15px;
    margin-left: 40px;
    color: #b3b0b6;
  }
}

a, a:hover, a:visited {
  color: $primary;
}

.owl-carousel {
  .product {
    position: relative;
    background-color: #f3f3f3;
    border-radius: 20px;
    padding: 50px 30px;
    margin: 5px;
    width: 200px;
    text-align: center;

    a.favorite {
      position: absolute;
      right: 20px;
      top: 20px;
      color: #414042;

      &:hover {
        color: $primary;
      }
    }

    span.discount {
      position: absolute;
      left: -5px;
      top: -5px;
      background-color: #f4413d;
      color: white;
      padding: 10px;
      border-radius: 20px;
      width: 90px;
      height: 40px;
      text-align: center;
      font-weight: 500;
      font-size: 18px;
    }

    div.category-icon {
      position: absolute;
      bottom: -27px;
      left: 20px;
      background-color: #414042;
      width: 55px;
      height: 55px;
      border-radius: 50%;
      text-align: center;

      img {
        width: 20px;
        height: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 17px;
      }
    }

    div.category-name {
      position: absolute;
      bottom: -27px;
      right: 20px;
      color: #414042;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 13px;
    }
  }

  div.description {
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 20px;
    line-height: 1rem;
    font-size: 12px;

    a.product-name {
      color: $primary;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 13px;
    }

    .product-description {
      color: #414042;
    }

    .quantity, .reference {
      .label {
        color: #b3b0b6;
      }

      .value {
        color: #000000;
        font-weight: 500;
      }
    }

    .price {
      margin-top: 10px;

      .label {
        color: #b3b0b6;
      }

      .striked-value {
        float: right;
        color: #414042;
        text-decoration: line-through;
        font-weight: 500;
        font-size: 12px;
        margin-right: 5px;
      }

      .value {
        color: #f4403e;
        font-weight: 500;
        font-size: 17px;
        float: right;
      }
    }
  }
}

// Configuration de l'affichage des boutons
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 40px;
}

.owl-theme .owl-dots {
  .owl-dot {
    outline: none;
  }

  .owl-dot span {
    background-color: #d1d0d3;
    width: 8px;
    height: 8px;
  }

  .owl-dot.active span, .owl-dot:hover span {
    background-color: $primary;
  }

  .owl-dot.active span {
    width: 10px;
    height: 10px;
  }
}

.btn-outline-warning {
  color: $orange;
  border-color: $orange;

  &:hover {
    background-color: $orange;
    color: white;
  }
}

.btn-warning, .btn-warning:hover {
  background-color: $orange;
  color: white !important;
  border: none;
}

a.favorite.active {
  color: $primary !important;
}

@media (max-width:767px){
  html,body{
    overflow-x:hidden;
  }
}