header.primary-bg {
    @import 'search';

    padding-top: 20px;

    #title {
        color: white;
        line-height: 1rem;
        padding-top: 10px;

        span {
            font-weight: bold;
            font-size: 21px;
        }

        small {
            // font-weight: 500;
            font-size: 12px;
        }
    }

    .menu {
        color: #a9ddeb;

        a {
            color: #a9ddeb;

            &:hover {
                color: #ffffff;
            }
        }
    }
}