header.primary-bg {
    @import 'search';

    padding-top: 20px;
    
    #title {
        color: white;
        line-height: 1rem;
        padding-top: 10px;

        span {
            font-weight: bold;
            font-size: 21px;
        }

        small {
            // font-weight: 500;
            font-size: 12px;
        }
    }

    @media(max-width:767px){
        padding-top:10px;
        #title{
            padding-top:3px;
            span {
                font-weight: 500;
            }
        }

        #order-btn{
            position:fixed;
            bottom:80px;
            width:80%;
            left:10%;
            z-index:1;
        }
    }

    .menu {
        color: #a9ddeb;

        a {
            color: #a9ddeb;

            &:hover {
                color: #ffffff;
            }
        }
    }

    #search-mobile{
        fill:white;
        g{
            fill:white;
        }
    }
}