#categories {
    background-color: none;
    padding: 15px 0;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            height: 80px;
            background-color: #ffffff;
            border: solid 3px #e9e7eb;
            border-radius: 20px;
            margin-bottom: 12px;
            padding-right: 10px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            &:last-child {
                margin-bottom: 0;
            }

            a {
                display: block;
                width: 100%;
                color: $primary;
                font-weight: 500;
                font-size: 11px;
                text-transform: uppercase;
                // text-decoration: underline;

                img {
                    padding: 0 15px;
                }

                .counter {
                    float: right;
                    padding-top: 20px;

                    img {
                        margin-bottom: 5px;
                    }
                }

                @media (max-width:767px){
                    vertical-align:middle;
                    display:flex !important;
                    flex-direction:row;
                    align-items:center;

                    span{
                        width: calc(100% - 86px);
                        display:inline-block;
                    }

                    .counter{
                        padding-top:0px !important;    
                        margin-bottom:10px;
                    }

                    .counter img{
                        padding-left:10px !important;
                    }
                }
            }
        }
    }
}